@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: transparent;
}

body {
  background-color: #eeedeb;
  min-width: 320px;
}

.header {
  background-color: rgba(255, 255, 255, 0.7);
  height: 80px;
  padding-top: 9px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.header_container {
  height: 100%;
  padding: 0 20px;
  display: flex;
}

.logo {
  color: rgba(63, 21, 153, 0.7);
  text-align: right;
  font-size: 0;
}

.logo_title {
  font-size: 35px;
}

.logo_subtitle {
  font-size: 8px;
}

.banner_container {
  height: 520px;
  overflow: hidden;
  position: relative;
}

.banner_slide {
  white-space: nowrap;
  height: 100%;
  transition: transform 1s;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide_img {
  min-height: 520px;
  min-width: 100%;
}

.banners_buttons_container {
  position: absolute;
  bottom: 36px;
  right: 16px;
}

.slide_toggle_button {
  display: inline-block;
  height: 20px;
  width: 3px;
  background-color: white;
  margin-right: 30px;
  transition: height 0.3s;
}

.slide_toggle_button.active {
  height: 60px;
}

.button_slide_link {
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #dcd2dd;
  border-radius: 30px;
  color: #49134c;
  outline: 0;
  cursor: pointer;
  position: absolute;
  left: 5%;
  top: 20%;
  transform: translateY(320px);
  opacity: 0;
  transition: transform 2s, opacity 1s;
}

.button_slide_link.active {
  transform: translateY(120px);
  opacity: 1;
}

.chandelier {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 5%;
  right: -300px;
  opacity: 0;
  transition: transform 3s, opacity 2s;
}

.chandelier.active {
  transform: translateX(-300px);
  opacity: 1;
}

.title_slide {
  font-size: 36px;
  position: absolute;
  left: 10px;
  top: 100%;
  transition: top 2s, opacity 1s;
  opacity: 0;
  color: white;
}

.title_slide.active {
  top: 30%;
  opacity: 1;
  text-shadow: 2px 2px 2px black;
}

.description_slide {
  position: absolute;
  left: 10px;
  font-size: 15px;
  width: 200px;
  white-space: normal;
  top: 110%;
  transition: top 2.3s, opacity 1s;
  opacity: 0;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.description_slide.active {
  top: 40%;
  opacity: 1;
}

.button_slide_standart {
  height: 50px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  outline: 0;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 110%;
  opacity: 0;
  transition: top 2.7s, opacity 1s;
  text-shadow: 2px 2px 2px black;
}

.button_slide_standart.active {
  top: 53%;
  opacity: 1;
}
